@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pretendard';
  src: url('../../public/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'pretendard', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* 스크롤바 스타일 */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
footer {
  position: relative; /* 푸터가 상대적으로 위치하게 함 */
  bottom: 0; /* 아래로 고정 */
  width: 100%; /* 전체 너비 차지 */
}
