@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pretendard';
  src: url('../../public/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'pretendard', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* 스크롤바 스타일 */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .skeleton-line-height {
    line-height: inherit !important;
  }

  .react-calendar {
    width: 100% !important;
    border: 1px solid #dddddd !important;
    border-radius: 12px;
    padding: 10px 24px;
  }

  .react-calendar button span {
    font-weight: bold;
  }

  .react-calendar .react-calendar__month-view__days__day--weekend {
    color: #141414 !important;
  }
  .react-calendar .react-calendar__tile--active {
    background: #0b3b2d !important;
    color: #ffffff !important;
    border-radius: 8px;
  }

  .react-calendar .react-calendar__tile--now {
    background: #ced8d5;
    border-radius: 8px;
  }

  .react-calendar abbr {
    text-decoration: none;
  }

  .reserved-date {
    /* color: white !important; */
    /* background: #0b3b2d !important; */
    border-radius: 8px !important;
    border: 1px solid #0b3b2d !important;
  }
}
footer {
  position: relative; /* 푸터가 상대적으로 위치하게 함 */
  bottom: 0; /* 아래로 고정 */
  width: 100%; /* 전체 너비 차지 */
}

.fc-evnet .fc-daygrid-event .fc-h-evnet {
  border: none;
}

.fc-event {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.fc-ev .fc .fc-daygrid-event {
  display: flex;
  align-items: flex-end;
}

.fc-daygrid-day-frame {
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 0;
  cursor: pointer;
}
